$max-width : 1500px
$indent : 15px
$columns : 60
$breakpoints : (sm:480px, md:720px, lg:960px, xl:1200px)

@mixin create-columns($columns, $indent, $breakpoints)
	@if $breakpoints != null 
		@each $key, $val in $breakpoints
			@media only screen and (min-width : $val)
				.container
					.row
						@for $i from 1 through $columns 
							.col-#{$key}-#{$i}
								width: calc(100% / #{$columns} * #{$i} - 2 * #{$indent})
	
	@else 
		@for $i from 1 through $columns 
			.col-xs-#{$i}
				width: calc(100% / #{$columns} * #{$i} - 2 * #{$indent})
		
.container
	max-width: $max-width
	padding: 0 $indent
	margin: 0 auto

	.row
		display: flex
		flex-wrap: wrap
		margin: 0 -$indent

		.col
			width: calc(100% / #{$columns} - 2 * #{$indent})
			box-sizing: border-box
			margin: $indent
			min-height: 1px

		@include create-columns($columns, $indent, null)

@include create-columns($columns, $indent, $breakpoints)
